{% extends 'base.html' %}
{% load static %}
{% csrf_token %}


{% block content %}

  <!-- ***** Breadcrumb Area Start ***** -->
  <div class="breadcumb-area bg-img bg-gradient-overlay" style="background-image: url({% static 'adwebsite/img/bg-img/12.jpg' %});">
    <div class="container h-100">
      <div class="row h-100 align-items-center">
        <div class="col-12">
          <h2 class="title">Алайнери</h2>
        </div>
      </div>
    </div>
  </div>
  <div class="breadcumb--con">
    <div class="container">
      <div class="row">
        <div class="col-12">
          <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
              <li class="breadcrumb-item"><a href="home.html"><i class="fa fa-home"></i> Начало</a></li>
              <li class="breadcrumb-item active" aria-current="page">Алайнери</li>
            </ol>
          </nav>
        </div>
      </div>
    </div>
  </div>
  <!-- ***** Breadcrumb Area End ***** -->

  <!-- Dento Pricing Table Area Start -->
  <section class="dento-pricing-table-area section-padding-100">
    <div class="container">
      <div class="row">
        <!-- Section Heading -->
        <div class="col-12">
          <div class="section-heading text-center">
            <div class="line"></div>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-12">
          <div class="dento-price-table table-responsive">
            <table class="table table-borderless mb-0">
              <thead>
                <tr>
                  <th scope="col">План | AD Dent | Basic</th>
                  <th scope="col">Цени</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <th scope="row">До 10 стъпки</th>
                  <td>1000лв.</td>
                </tr>
                <table class="table table-borderless mb-0">
              <thead>
                <tr>
                  <th scope="col">План | AD Dent | Advanced</th>
                  <th scope="col">Цени</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <th scope="row">До 20 стъпки</th>
                  <td>1800лв.</td>
                </tr>
                <table class="table table-borderless mb-0">
              <thead>
                <tr>
                  <th scope="col">План | AD Dent | Pro</th>
                  <th scope="col">Цени</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <th scope="row">Неограничен брой стъпки</th>
                  <td>2800лв.</td>
                </tr>
                
              </tbody>
            </table>
          </div>
        </div>

        
      </div>
    </div>
  </section>
  

{% endblock %}