{% extends 'base.html' %}
{% load static %}
{% csrf_token %}


{% block content %}

<!-- ***** Breadcrumb Area Start ***** -->
  <div class="breadcumb-area bg-img bg-gradient-overlay" style="background-image: url({% static 'adwebsite/img/bg-img/12.jpg' %});">
    <div class="container h-100">
      <div class="row h-100 align-items-center">
        <div class="col-12">
          <h2 class="title">Специализирани продукти</h2>
        </div>
      </div>
    </div>
  </div>
  <div class="breadcumb--con">
    <div class="container">
      <div class="row">
        <div class="col-12">
          <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
              <li class="breadcrumb-item"><a href="home.html"><i class="fa fa-home"></i> Начало</a></li>
              <li class="breadcrumb-item active" aria-current="page">Специализирани продукти</li>
            </ol>
          </nav>
        </div>
      </div>
    </div>
  </div>
  <!-- ***** Breadcrumb Area End ***** -->
  
  <!-- ***** Products Area Start ***** -->
  <section class="dento-blog-area section-padding-100-0 clearfix">
    <div class="container">
      <div class="row">
        <!-- Section Heading -->
        <div class="col-12">
          <div class="section-heading text-center">
            <div class="line"></div>
          </div>
        </div>
      </div>

      <div class="row">
        <!-- Single Product Item -->
        <div class="col-12 col-md-6 col-lg-4">
          <div class="single-blog-item mb-100">
            <a href="products.html">
              <img src="{% static 'adwebsite/img/bg-img/32.jpg' %}" alt="">
            </a>
            <!-- Product Content -->
            <div class="blog-content">
              <a href="products.html" class="post-title">Шина против бруксизъм</a>
              <p>- Двуслойна шина 2мм</p>
              <p>- мек и твърд слой</p>
              <div class="post-meta">
              </div>
            </div>
          </div>
        </div>

        <!-- Single Product Item -->
        <div class="col-12 col-md-6 col-lg-4">
          <div class="single-blog-item mb-100">
            <a href="products.html">
              <img src="{% static 'adwebsite/img/bg-img/30.jpg' %}" alt="">
            </a>
            <!-- Product Content -->
            <div class="blog-content">
              <a href="products.html" class="post-title">Шина против сънна апнея</a>
              <p>- Две двуслойни шини x 2мм. + пластмасови водачи</p> 
              <p>- мек и твърд слой</p> 
              <div class="post-meta">
              </div>
            </div>
          </div>
        </div>

                <!-- Single Product Item -->
        <div class="col-12 col-md-6 col-lg-4">
          <div class="single-blog-item mb-100">
            <a href="products.html">
              <img src="{% static 'adwebsite/img/bg-img/44.jpg' %}" alt="">
            </a>
            <!-- Product Content -->
            <div class="blog-content">
              <a href="products.html" class="post-title">Шина за избелване</a>
              <p>- 1мм.</p>
              <p>- мек слой</p>
              <div class="post-meta">
              </div>
            </div>
          </div>
        </div>

                <!-- Single Product Item -->
        <div class="col-12 col-md-6 col-lg-4">
          <div class="single-blog-item mb-100">
            <a href="products.html">
              <img src="{% static 'adwebsite/img/bg-img/45.jpg' %}" alt="">
            </a>
            <!-- Product Content -->
            <div class="blog-content">
              <a href="products.html" class="post-title">Шина ретайнер</a>
              <p>- 1мм. / 1.5мм. / 2мм.</p>
              <p>- твърд слой</p>
              <div class="post-meta">
              </div>
            </div>
          </div>
        </div>

        <!-- Single Product Item -->
        <div class="col-12 col-md-6 col-lg-4">
          <div class="single-blog-item mb-100">
            <a href="products.html">
              <img src="{% static 'adwebsite/img/bg-img/33.jpg' %}" alt="">
            </a>
            <!-- Product Content -->
            <div class="blog-content">
              <a href="products.html" class="post-title">Фиксиран ретайнер</a>
              <p>- тройно усукана тел</p>
              <p>- кръгово и плоско сечение</p>
              <div class="post-meta">
              </div>
            </div>
          </div>
        </div>

        <!-- Single Product Item -->
        <div class="col-12 col-md-6 col-lg-4">
          <div class="single-blog-item mb-100">
            <a href="products.html">
              <img src="{% static 'adwebsite/img/bg-img/31.jpg' %}" alt="">
            </a>
            <!-- Product Content -->
            <div class="blog-content">
              <a href="products.html" class="post-title">Спортна шина</a>
              <p>- 5мм.</p>
              <p>- трислойна</p>
              <p>- цвят по избор</p>
              <div class="post-meta">
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- ***** Products Area End ***** -->

{% endblock %}